<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<div style="text-align:center">
  <div class="jumbotron">
  <h1>
    Welcome to {{ title }}!
  </h1>
    </div>
  <img src="../assets/brew.jpeg" alt="">
</div>
<h2>Here are some potions to help you start: </h2>
<button (click)="editTask(potList)">Edit!</button>
<ul>
  <li [class]="textColor(potList)" *ngFor="let potList of potions">
    <p><strong>{{potList.name}}:</strong></p>
    <p>Potion Type: {{potList.type}}</p>
    <p>Potency: {{potList.potency}}/100</p>
    <p>Price: {{potList.cost}} Gold</p>
    <p>In Stock: {{potList.amount}} remaining</p>
    <h4>{{potList.name}}</h4>
<p>Still in stock? {{potList.amount}}</p>
<h4>Mix Potion</h4>
<label>New Name:</label>
<input [(ngModel)]="potList.name">
<label>Potion Type:</label>
<br>
<input type="radio" [(ngModel)]="potList.type" value="Health">  Health<br>
<input type="radio" [(ngModel)]="potList.type" value="Strength">  Strength<br>
<input type="radio" [(ngModel)]="potList.type" value="Mana">  Mana<br>
<input type="radio" [(ngModel)]="potList.type" value="Stamina">  Stamina<br>
  <br>
  </li>
</ul>
</div>
