#One, #Two, #Three, #Four {
  display: none;
}

.displayEdit {
  position: fixed;
  float: right;
  border: solid;
  left: 50%;
  margin: 20px;
  padding: 10px;
}

.potionInfo {
  width: 450px;
  float: left;
}

#boxes {
  border: solid;
  margin: 20px;
  padding: 10px;
}
